#wrapper{
		background-image:url(images/dark-tint.png), url("images/bridge.jpg");
		background-size: cover;
}

.logo{
	height: 100%;
	width: 1%;
}

.pix{
	height: 10%;
	width: 10%;
}

section {
	padding-top: 20%;
	
}

.green{
	color:#31BF7D;
}
.blue {
	color: #31BFBC;
}